html{
  background-color: rgb(65, 62, 62);
  padding: 8px;
  margin: 15px;
}

h1{
  background-color: rgb(65, 62, 62) ;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  outline: solid rgb(128, 52, 104) 9px;
}
main {
  
  display:flex;
  padding: 12px;
  padding-bottom: 100px;
  background-color: rgb(65, 62, 62);
  color: white;
  max-width: 1335px;
  outline: solid rgb(128, 52, 104) 9px;
  margin-left: 265px;
}

aside {
  color: #fff;
  width: 250px;
  padding-left: 20px;
  height: 100vh;
  background-color: #feff94;
  float: left;
  color: black;
  outline: solid rgb(128, 52, 104) 9px;

}


aside a {
  display: block;
  padding: 20px;
}

section {
  margin-left: 10px;
}

#search{
  width: 900px;
  outline: solid rgb(128, 52, 104) 3px;
  margin-top: 10px;
  margin-left: 20px;
}

#search-button{
  width: 200px;
<<<<<<< HEAD
  background-color:#feff94 ;
=======
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color:rgb(210, 223, 127) ;
>>>>>>> main
  outline: solid rgb(128, 52, 104) 3px;
  margin-top: 10px;
  padding-bottom: 2px;
}

.row-container {
  padding-left: 20px;

}

#dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 2px;
  outline: solid rgb(128, 52, 104) 5px;
}

/* for glide slides */
.glide {
  display: flex;
}

.glide_slide {
  align-content: center ;
}
<<<<<<< HEAD
 
h2 {
  padding-top: 10px;
  text-decoration: underline;
=======
h2 {
  padding-top: 10px;
>>>>>>> main
  text-align: center;
  }

.search-container {
  display: flex;
  align-items: center;
}

