html{
  /* background: rgb(8,0,0); */
  background: linear-gradient(to bottom, rgba(8,0,0,1) 0%, rgba(128,52,104,1) 35%, rgba(18,0,0,1) 100%);
  padding: 8px;
}

h1{
  background-image: red, url(./images/group-project-header.jpg);

  color: white;
  /* Google Fonts */
  font-family: 'Chakra Petch', sans-serif;
  font-size: 70px;
  text-align: center;
  padding: 200px;
  /* padding-bottom: 5px; */
  outline: solid rgb(128, 52, 104) 9px;
  text-shadow: 3px 3px 6px rgb(128, 52, 104);
}
main {
  display:flex;

  padding: 5px;
  padding-bottom: 200px;
  background: radial-gradient(circle, rgba(8,0,0,1) 0%, rgb(63, 38, 65) 90%, rgba(8,0,0,1) 100%);

  color: black;
  max-width: 100%;
  min-height: 100vh;
  outline: solid #803468 9px;
  margin-left: 265px;
}

.popular {
  color: white;
}

aside {
  color: #fff;
  width: 250px;
  padding-left: 20px;
  min-height: 100vh;
  background-color: rgb(95, 0, 0);
  float: left;
  color: black;
  outline: solid rgb(128, 52, 104) 9px;

}


aside a {
  display: block;
  padding: 20px;
}

section {
  margin-left: 10px;
}

#search{
  width: 900px;
  outline: solid rgb(128, 52, 104) 3px;
  margin-top: 10px;
  margin-left: 20px;
}

#search-button{
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  background-color:rgb(210, 223, 127) ;
  outline: solid rgb(128, 52, 104) 3px;
  margin-top: 10px;
  padding-bottom: 2px;
}

#search-results {
  margin-top: 30px;

}

#dropdown {
  margin-top: 30px;
}

.row-container {
  padding-left: 20px;

}

#dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 2px;
  outline: solid rgb(128, 52, 104) 5px;
}

/* for glide slides */
.glide {
  display: flex;
}

.glide__slide {
  align-content: center ;

  text-align: center;
}

h2 {
  padding-top: 10px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  }

  h4 {
    font-family: 'Varela', sans-serif;
    margin-top: 5px;
  }

  ol {
    font-family: 'Varela', sans-serif;
  }

.search-container {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.card {
  color: rgb(22, 22, 22);
}
